body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    padding: 3.5rem 1rem;

}

@media (max-width: 768px) {
    body {
        padding: 2rem;
    }
}

@media (max-width: 420px) {
    body {
        padding: 1rem;
    }
}

html {
    font-size: 16px;
}

@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}