@import url(../../shared-styles/mixins.less);

:host {
    display: block;
    width: fit-content;
    margin: auto;
}

.tasks {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.task {
    box-sizing: border-box;
    padding: .5rem 1rem;
    background-color: rgb(44, 44, 45);
    width: 100%;
    border-radius: 8px;
    align-items: center;
}

.td-form__button {
    height: 56px;
}