@if (isLoading()) {
    <div class="overlay">
        <div class="loader"></div>
    </div>
} @else {
    <div>
        <h1>ToDo List</h1>
        <div class="block">
            <ul class="tasks">
                @for (task of tasks; track task.id) {
                    <app-to-do-list-item
                        [task]="task"
                        [class.selected]="selectedItemId === task.id"
                        (newItemEvent)="delete($event)"
                        (click)="selectTask(task.id)"
                        class="tooltip tooltip_top"
                        data-tooltip="Нажмите для выбора задачи"
                    />
                } @empty {
                    <li>Let's start planning</li>
                }
            </ul>
            @if (selectedItemId !== null) {
                <p class="description">{{ selectTask(selectedItemId)?.description }}</p>
            }
        </div>
        <form class="mt-big" #newTaskForm="ngForm">
            <mat-form-field appearance="outline">
                <mat-label>Add your new todo</mat-label>
                <input
                    matInput
                    [(ngModel)]="newTask.text"
                    name="title"
                    required
                    placeholder="Conquer the world"
                    maxlength="50"
                    minlength="2"
                    class="block"
                />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Add task description</mat-label>
                <textarea
                    matInput
                    [(ngModel)]="newTask.description"
                    name="description"
                    required
                    maxlength="50"
                    minlength="2"
                    class="block"
                ></textarea>
            </mat-form-field>
            <app-button-component
                [BtnParams]="BtnParams"
                type="submit"
                on-click="add(newTask); newTaskForm.reset()"
                class="right-aligned tooltip tooltip_bottom"
                data-tooltip="Нажмите для добавления задачи"
            />
        </form>
    </div>
}
