<h1>ToDo List</h1>

<ul class="tasks">
    @for (task of tasks; track task.id) {
    <li class="task row mb">
        {{ task.text }}
        <button matButton="outlined" class="button button_delete">Delete</button>
    </li>
    } @empty {
    <li>Let's start planning</li>
    }
</ul>

<form class="mt-big row" #newTaskForm="ngForm">
    <mat-form-field appearance="outline">
        <mat-label>Add your new todo</mat-label>
        <input matInput ngModel name="newTask" required placeholder="Conquer the world" maxlength="50" minlength="2">
    </mat-form-field>
    <button type="submit" [disabled]="newTaskForm.invalid" matButton="outlined" class="button button_add td-form__button">Add task</button>
</form>