<h1>ToDo List</h1>

<ul class="tasks">
    @for (task of tasks; track task.id) {
    <li class="task row mb">
        {{ task.text }}
        <button type="submit" disabled matButton="outlined">Delete</button>
    </li>
    } @empty {
    <li>Let's start planning</li>
    }
</ul>

<form class="mt-big row">
    <mat-form-field appearance="outline">
        <mat-label>Add your new todo</mat-label>
        <input matInput placeholder="Conquer the world" maxlength="50" minlength="2">
    </mat-form-field>
    <button type="submit" disabled matButton="filled" class="td-form__button">Add task</button>
</form>