@import url(../../shared-styles/variables.less);

.button {
    color: @color-lightest;
    border: none;
    outline: none;
    border-radius: 1em;
    line-height: 1;
    padding: 0.5em 0.75em;
    font-size: 14px;
}

.button:disabled {
    opacity: 0.5;
}

.button_add {
    background-color: @color-positive;
}

.button_delete {
    background-color: @color-negative;
}
