@import url(../../../shared-styles/variables.less);
@btn-wide: 45px;
:host {
    background-color: rgb(44, 44, 45);
}
:host.selected {
    background-color: @color-semiligh;
}
.task {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 8px;
    align-items: center;
    background-color: inherit;
}
.task__title {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 1rem @btn-wide 1rem 0;
}
.task__input {
    min-height: 20px;
    margin: 0.83em 1rem 0.83em 0;
    box-sizing: content-box;
    width: calc(100% - @btn-wide);
}
.submit {
    font-size: 14px;
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
}
.submit:disabled {
    opacity: 0.5;
}
